@model Trial.ViewModels.TimeSlotViewModel;
@{
}

<div class="container">
<br>  <p class="text-center"> </p>
<hr>
<div class="card bg-light">
<article class="card-body mx-auto" style="">
	<h4 class="card-title mt-3 text-center">Select Slots</h4>
	<p class="divider-text">
        <span class="bg-light">Slots</span>
    </p>
    <form asp-action="Select" method="post">

        
        <br>

        <table class="table table-striped">
        <thead class="table-dark">
      <tr>
      <th scope="col">#</th>
                            @for(int i=0; i < Model.columnCount ; i++)
                            {
                                <th>
                                    @(i+1) <span>. Column</span> 
                                </th>
                            }
                        </tr>
  </thead>
  <tbody>
                        @for(int i=0 ;i< Model.rowCount;i++)
                        {
                            <tr>
                                <th>
                                        @Model.TimeSlots.ElementAt(i*Model.columnCount).Description
                                </th>
                                @for (var j = 0; j < Model.columnCount; j++)
                                {
                                    <td>
                                        <label class="btn btn-success availableBox" id="@Model.TimeSlots.ElementAt((Model.columnCount*i)+j).Id" for="@Model.TimeSlots.ElementAt((Model.columnCount*i)+j).Id">Slot</label>
                                    </td>
                                }
                            </tr>
                        }
                        
  </tbody>
</table>
    <div class="button-group">
        <button id="allAvailable"  type="button" class="btn btn-success btn-sm">Tümünü Müsait Seç</button>
        <button id="allBusy" type="button" class="btn btn-danger btn-sm">Tümünü Meşgul Seç</button>
    </div>
    <br/>
    
    <label for="exampleFormControlTextarea1" class="form-label">Tanımlama</label>
  <textarea class="form-control" name="description" id="description" rows="3"></textarea>
    <input type="hidden" name="slotResult" value="" id="slotResult">
    <input type="hidden" name="academicianId" value="@Model.AcademicianId" id="academicianId">
        <br/>
    <button class="btn btn-secondary" type="submit">Submit</button>
</form>
</article>
</div> <!-- card.// -->
</div> 
<!--container end.//-->
