@model Trial.ViewModels.CampusViewModel;

@{
    int facultyId =0;
}

<div class="container">
<div id="myCarousel" class="carousel slide carousel-dark w-75 mx-auto" data-bs-interval="false" data-bs-ride="carousel">
  <div class="carousel-inner">
            @for(var i = 0;i<Model.CampusList.Count() ; i++)
            {
                string active= "";
                if(i==0){ active = "active"; }
                <a id="@Model.CampusList.ElementAt(i).Id" href="" style="text-decoration:none;" class="carousel-item @active text-black">
                      <div class="bg-light bg-gradient opacity-75 text-center p-2">
                          <i class="bi bi-house" style="font-size:4rem"></i>
                          <h4>@Model.CampusList.ElementAt(i).Name</h4>
                          <small>@Model.CampusList.ElementAt(i).Id Numaralı Kampüs</small>
                      </div>
                    </a>
            }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <hr />

    

    <div class="row row-cols-md-5 g-4 p-4">
        @for (int i=0;i<Model.FacultyList.Count();i++)
        {
            string facultyName = Model.FacultyList.ElementAt(i).Id.ToString() + "Faculty";
            <div  class="col">
            <a id="@Model.FacultyList.ElementAt(i).Id" class="card text-center text-black" style="text-decoration:none;" onclick="facultyNameFunction(this.id);" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="card-body">
                    <img class="img-fluid opacity-75" src="https://ubys.bakircay.edu.tr/images/PortalV3/Logos/116/200x200.png" alt="FacultyImage"/>
                </div>
                <div class="card-footer">
                    <h5 id="@facultyName" class="font">@Model.FacultyList.ElementAt(i).Name</h5>
                </div>
            </a>
        </div>
        }
        <form class="col">
        <div class="h-100">
                <div class="card h-100 text-center">
                <a href="" class="card-body text-black">
                    <i class="fa-solid fa-plus pt-5" style="font-size: 4rem;"></i>
                    <strong>Add New Faculty</strong>
                </a>
                <div class="card-footer">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingInput" placeholder="Faculty Name">
                      <label for="floatingInput">Faculty Name</label>
                    </div>
                </div>
                </div>  
       </div>
       </form>
  </div>

  <br />

  <div style="min-height: 120px;">
  <div class="collapse" id="collapseExample">
      <!-- Dartment Card Start -->
            @for(int i = 0; i < Model.DepartmentList.Count(); i++)
            {
          <div id="departmentCard" class="row bg-info bg-opacity-25 text-dark bg-gradient border border-1 border-secondary rounded p-2 mb-2 @Model.DepartmentList.ElementAt(i).FacultyId visually-hidden departmentCard" >
          <div class="col-2 p-2">
              <img src="https://raw.githubusercontent.com/antonshell/placeholder-service/master/resources/test_images/img_width=500.png" class="img-thumbnail" alt="...">
          </div>
          <div class="col-4 p-3">
              <strong>@Model.DepartmentList.ElementAt(i).DepartmentCode - @Model.DepartmentList.ElementAt(i).Name</strong>
              <p class="faculty-card-fname">Fakülte Kodu: </p>
              <form>
                  <label for="departmentSchedule" class="btn btn-dark h-25">Department Schedule</label>
                  <input id="departmentSchedule" name="DepartmentCode" type="submit"  asp-controller="Campus" asp-action="DepartmentSchedule" asp-for="@Model.DepartmentList.ElementAt(i).DepartmentCode" method="get" value="@Model.DepartmentList.ElementAt(i).DepartmentCode" class="visually-hidden"/>
                  <input id="departmentScheduleName" type="hidden" name="Name" value="@Model.DepartmentList.ElementAt(i).Name">
              </form>
          </div>
          <div class="col-5 p-3">
              <strong>Departman Başkanı: @Model.DepartmentList.ElementAt(i).DepartmentChair</strong>
              <p>@Model.DepartmentList.ElementAt(i).Email</p>
          </div>
          <div class="col-1 p-2">
                        <form asp-controller="Campus" asp-action="DeleteDepartment" method="post"><label for="@Model.DepartmentList.ElementAt(i).DepartmentCode" class="btn btn-outline-danger">
                            <input type="hidden" name="_method" value="delete">
                            <i class="w-100 bi bi-person-x text-danger" style="font-size:1.5rem;"></i>
                        </label><input type="hidden" id="@Model.DepartmentList.ElementAt(i).DepartmentCode"/></form>
                        <label class="btn btn-outline-warning">
                            <i class="w-100 bi bi-pen text-warning" style="font-size:1.5rem;"></i>
                        </label>
          </div>
      </div>
            }

      <!-- Dartment Card End -->
      <!--Departmen Add Card Start-->
        <form>
            <a href="" class="row text-black bg-light bg-gradient border border-1 border-secondary rounded p-2 mb-2 text-center" data-bs-toggle="modal" data-bs-target="#myModal">
                <i class="fa-solid fa-plus" style="font-size: 6rem;"></i>
                <h6>Add New Department</h6>
            </a>
        </form>
       <!--Departmen Add Card End-->
       <!--DepartmanAddModal-->
       <div id="myModal" tabindex="-1" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-dialog-scrollable ">
            <div class="modal-content">

        	        <form asp-controller="Campus" asp-action="AddDepartment" method="post">
              <div class="modal-body">
        <div class="card bg-white">
        <article class="card-body mx-auto">
	        <h4 class="card-title mt-3 text-center">Add Department</h4>
	        <p class="divider-text">
                <span class="bg-white opacity-50">Form</span>
            </p>

	        <div class="form-group input-group p-1 mb-1">
    	        <div class="input-group-prepend">
		            <span class="input-group-text"> <i class="fa-solid fa-arrow-right-to-city p-1"></i> </span>
		        </div>
                <input  name="DepartmentCode" class="form-control" style="max-width: 80px;" placeholder="D.Kodu" type="text">
    	        <input  name="Name" class="form-control" placeholder="Departman İsmi" type="text">
                <input id="facultyId" name="FacultyId"  type="hidden" value="">
            </div> <!-- form-group// -->
            <div class="form-group input-group p-1 mb-1">
    	        <div class="input-group-prepend">
		            <span class="input-group-text"> <i class="fa-regular fa-envelope p-1"></i> </span>
		         </div>
                <input  name="Email" class="form-control" placeholder="Departman E-Posta Adresi" type="email">
            </div> <!-- form-group// -->


            <div class="form-group input-group p-1 mb-1">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa-solid fa-id-badge p-1"></i> </span>
		</div>
	        <select  name="DepartmentChair" class="custom-select w-75">
                <option selected="@Model.AcademicianList.ElementAt(0).Id">@Model.AcademicianList.ElementAt(0).Title @Model.AcademicianList.ElementAt(0).FirstName @Model.AcademicianList.ElementAt(0).LastName</option>
               @for(int i = 1 ; i < Model.AcademicianList.Count(); i++)
                {
                    <option value="@Model.AcademicianList.ElementAt(i).Id">@Model.AcademicianList.ElementAt(i).Title @Model.AcademicianList.ElementAt(i).FirstName @Model.AcademicianList.ElementAt(i).LastName</option>
                    
                }
		    </select>
    </div> <!-- form-group// -->

            <!-- Button Group-->
            <!--Button Group End-->

        <!-- form-group// -->      
                                                             

        </article>
        </div> <!-- card.// -->
                    </div>
                          <div class="modal-footer">
                <button type="button" class="p-1 w-25 btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="p-1 w-50 btn btn-primary"> Kaydet</button>
              </div>
              </form>
              </div>
            </div>
        </div>
       <!--DepartmanAddModalEnd-->
  </div>
</div>

</div>